*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: #e1cdeb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


header h1{
    margin-left: 200px;
}

header{
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    padding-top: 15px;
    align-items: center;
    
}
.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
    margin-left: 600px;
    
    color: black;
}

.search-section{
    margin-left: 50px;
}
button {
    background-color: rgb(18, 155, 155);
    padding: 4px 10px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 700;
    width: fit-content;
}

section{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.middle-right{
    display: inline-flex;
    flex-direction: column;
    margin-right: 200px;
    align-items: center;
    
}
.middle-right img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.middle{
    text-align: center;
}

.middle {
    width: 60%;
    padding: 0 8%;
  }
  
  .middle h1 {
    font-weight: 800;
    font-size: 38px;
    margin-bottom: 16px;
    
  }
  .middle h1 span {
    color: rgb(18, 155, 155);
    font-weight: 900;
   
    padding: 0 15px;
  }
  
  .middle p {
    font-weight: 500;
    font-size: 30px;
  }
  
  .middle p span {
    font-size: 25px;
    font-weight: 700;
    color: rgb(18, 155, 155);
  }
footer{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-between;
    align-items: center;
}

footer ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 50px;
    
}
footer ul li a i{
    font-size: xx-large;
    color: black;  
}
footer ul li a i:hover{
    font-size: xx-large;
    color: #b76cd3;   
}
